<h1>StaticPages#accueil</h1>
<p>Find me in app/views/static_pages/accueil.html.erb</p>

Bienvenue sur ma page d'accueil
Pour créer un utilisateur, c'est par ici <a href="<%=ajoutuser_path%>" > cliquez ici</a>
